extends layout

block more_styles
    link(rel='stylesheet', href='/css/login.css')
    link(rel='stylesheet', href='/css/league.css')

block content
    div.pull-left
        h1 Register
        fieldset.inputbox
            div.input-prepend
                span.add-on
                    i.icon-user
                input(id="rusername", type="text", placeholder="Username")
            div.input-prepend
                span.add-on
                    i.icon-envelope
                input(id="email", type="text", placeholder="Email")
            div.input-prepend
                span.add-on
                    i.icon-lock
                input(id="rpassword", type="password", placeholder="Password")
            input.register.btn.btn-large.pull-left(type="button", value="Register")

    div.pull-right
        h1 Login
        fieldset.inputbox
            div.input-prepend
                span.add-on
                    i.icon-user
                input(id="username", type="text", placeholder="Username")
            div.input-prepend
                span.add-on
                    i.icon-key
                input(id="password", type="password", placeholder="Password")
            input.btn.btn-large.pull-right(type="button", value="Submit")

